@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.hide-popover-padding .ant-popover-inner-content {
    padding: 0 !important;
}
.ant-message-custom-content{
    display: flex;
    align-items: center;
}
.text-rtl{
    direction: rtl;
}